{% extends "base.html" %}
{% block content %}



<section>

{% if user.is_asistente %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Id</td>
			<td>Paciente</td>
			<td>Examenes</td>
			<td>   Valores</td>


		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for Resultado in object_list %}
		<tr>

			<td>{{Resultado.paciente.id}}</td>
			<td>{{Resultado.paciente.nombrepa}}</td>
			<td>{{Resultado.examenes.nombre}}</td>
			<td>{{Resultado.valores }}</td>
			<td>
				<a class = "btn btn-primary" href="{%  url 'Laboratorio:editar_resultado' Resultado.id %}"
               >Editar</a>
            </td>

            <td>
            <a class = "btn btn-danger" href="{%  url 'Laboratorio:eliminar_resultado' Resultado.id %}"
            >Eliminar</a>
            </td>
		</tr>

		{% endfor %}

		{% else %}
		<h1>No hay registros de solicitudes</h1>
		{% endif %}
	</tbody>
</table>

 {% else %}
              <h3>Por favor inicie sesión para continuar. </h3>
              <a href="{% url 'login' %}" class = "button">Login</a></td>
{% endif %}
</section>

{% endblock %}