{% extends "base.html" %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
            <td>Apellido Materno</td>
			<td>Sexo</td>
			<td>Edad</td>
			<td>Fecha de nacimiento</td>
			<td>Acciones</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for Paciente in object_list %}
		<tr>
			<td>{{ Paciente.id }}</td>
			<td>{{ Paciente.nombrepa }}</td>
            <td>{{ Paciente.apellidoma }}</td>
			<td>{{ Paciente.sexo }}</td>
			<td>{{ Paciente.edad }}</td>
			<td>{{ Paciente.fecha_nac }}</td>
            <td>
            <a class = "btn btn-primary" href="{%  url 'Paciente:editar_lista' Paciente.id %}"
               >Editar</a>
            </td>
            <td>
            <a class = "btn btn-danger" href="{%  url 'Paciente:eliminar_lista' Paciente.id %}"
            >Eliminar</a>
            </td>

		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de pacientes</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		    {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>
{% endblock%}