{% extends "base.html" %}

{% block content %}

<section>

{% if user.is_asistente %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Cedula</td>
			<td>Nombre</td>
            <td>Apellido</td>
			<td>Sexo</td>
			<td>Fecha de nacimiento</td>
			<td>user</td>

		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for Paciente in object_list %}
		<tr>
			<td>{{Paciente.id}}</td>
			<td>{{Paciente.cedula}}</td>
			<td>{{ Paciente.nombrepa }}</td>
            <td>{{ Paciente.apellidopa }}</td>
			<td>{{ Paciente.sexo }}</td>
			<td>{{ Paciente.fecha_nac }}</td>
			<td>{{ Paciente.user.username }}</td>

            <td>
            <a class = "btn btn-primary" href="{%  url 'Paciente:editar_lista' Paciente.id %}"
               >Editar</a>
            </td>
            <td>
            <a class = "btn btn-danger" href="{%  url 'Paciente:eliminar_lista' Paciente.id %}"
            >Eliminar</a>
            </td>

		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de pacientes</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		    {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>

 {% else %}
              <h3>Por favor inicie sesión para continuar. </h3>
              <a href="{% url 'login' %}" class = "button">Login</a></td>
{% endif %}
</section>
{% endblock%}